<ion-view>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="ctrl.username">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="ctrl.password">
          </label>
          <a href="#/home">
            <button class="button button-full button-positive" ng-click="ctrl.login()">
              Sign In
            </button>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
